
/* colocar no HTML - data-tooltip="Sorry!!, the procedure to download the CV is not available at the moment." */
[data-tooltip] {
    position: relative;
    font-weight: bold;
    font-size: 2.5rem;
    
  }
  
  [data-tooltip]:after {
    display: none;
    position: absolute;
    top: 50px;
    padding: 15px;
    border-radius: 3px;
    left: 0;
    content: attr(data-tooltip);
    /* white-space: nowrap; */
    background-color: #0095ff;
    color: White;
    
  }
  
  [data-tooltip]:hover:after {
    display: block;
  }
  